body {
}
.Impressum {
    border: 10px ridge #f00;
    background-color:black;
    color: white;
    padding: .3rem;
    display: flex;
    flex-direction: inherit;
}

    .warning img {
        width: 100%;
    }

    .warning p {
        font: small-caps bold 1.2rem sans-serif;
        text-align: center;
    }
